.filter-header{
    background-color: var(--footer-header-elements-color);
    margin-bottom: 10px;
    border-bottom: 1px solid var(--border-color);
}

.input-block-filter{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.filter-component{
    display: flex;
    justify-content: space-between;
}

.left-part{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 50%;
    margin-bottom: 10px;
}

.name{
    width: 100%;
}

.sort{
    width: 58%;
}

.left-bottom-part{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.right-part{
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 48%;
    margin-bottom: 10px;
}

.select-list{
    /* Почему не работает width: 100%; */
    /* width: 400px; */
    width: 100%;
    height: 60px;
    border-radius: var(--radius-size);
    border-color: var(--border-color);
}

.right-bottom-left-block{
    display: flex;
    align-items: center;
}

.right-bottom-block{
    display: flex;
    justify-content: space-between;    
}

.select-filters-button{
    color: #fff;
    background-color: var(--button-blue-color);
}

.flag{
    height: 1px;
    flex-direction: row-reverse;
    align-items: center;
    gap: 5px;
}

.header{
    margin-top: 0px !important;
}

.header-name{
    padding-top: 17px;
    padding-bottom: 17px;
}




@media (max-width: 1400px) {
    .filter-component{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .left-part{
        width: 100%;
    }
    .left-bottom-part{
        display: flex;
        flex-direction: column;
    }
    .sort{
        width: 100%;
    }
    .start{
        width: 100%;
    }
    .right-part{
        width: 100%;
    }
    .list-block{
        width: 100%;
    }
    .right-bottom-block{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}


/* 
.top-part{
    display: flex;
    justify-content: space-between;
}

.input-block-filter{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.select-list{
    width: 400px;
    height: 60px;
    border-radius: var(--radius-size);
}

.bottom-part{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.settings-block{
    display: flex;
    gap: 20px;
    align-items: center;
}

.sort{
    width: 30%;
}

.start{
    width: 20%;
}

.end{
    width: 20%;
}

.flag{
    height: 1px;
    flex-direction: row-reverse;
    width: 19%;
    align-items: center;
    gap: 10px;
}

.select-filters-button{
    color: #fff;
    background-color: var(--button-blue-color);
} */