.section-filter{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.short-form{
    width: 90% !important;
    padding-bottom: 15px;
}

.inputs-block{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.short{
    width: 45%;
}

.short-list{
    width: 45%;
}

.button-container{
    display: flex;
    justify-content: flex-end;
}

.send-filter-button{
    background-color: var(--button-blue-color);
    color: #fff;
    width: 15%;
}