.post-component{
    border: 1px solid var(--border-color);
    border-radius: var(--radius-size);
}

.post-name-block{
    border-bottom: 1px solid var(--border-color);
}

.post-name{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
    cursor: pointer;
}

.post-name:hover{
    color: grey;
}

.main-infa{
    margin-bottom: 20px;
}

.photo-block{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.tags{
    /* Не знаю зачем флексы использу, ну пускай будут */
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-bottom: 10px;
}

.tag{
    color: grey;
}

.reading-time{
    margin-bottom: 3px;
}

.post-footer{
    background-color: var(--footer-header-elements-color);
    border-top: 1px solid var(--border-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    margin-top: 10px;
}

.footer-container{
    display: flex;
    flex-direction: row !important;
    margin-top: 0 !important;
    justify-content: space-between;
    align-items: center;
}

.comments-infa-block{
    display: flex;
    align-items: center;
}

.comment-icon{
    cursor: pointer;
}

.like-icon{
    cursor: pointer;
}

.like-infa-block{
    display: flex;
    align-items: center;
}