.group-block{
    border: 1px solid var(--border-color);
    border-radius: var(--radius-size);
    height: 70px;
    background-color: var(--group-block-color);
    
}

.group-block-container{
    max-width: 100%;
    width: 97%;
    margin: auto;
    
}

.content-group-block{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.group-title{
    font-weight: 700;
    font-size: 25px;
    line-height: 20px;
}

.unsubscribe{
    color: #fff;
    background-color: var(--button-red-color);
}

.subscribe{
    color: #fff;
    background-color: var(--button-blue-color);
}