.comments{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.comment-container{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 15px;
}

.comments-block{
    width: 90%;
    border: 1px solid var(--border-color);
    border-radius: var(--radius-size);
}

.send-comment{
    color: #fff;
    background-color: var(--button-blue-color);
}