.pagination{
    display: flex;
    /* Сомнительно */
    border: 1px solid var(--button-blue-color);
    border-radius: var(--radius-size);
}

.pagination-item{
    /* Очень сомнительно */
    border: 1px solid var(--button-blue-color);
    /* border-radius: var(--radius-size); */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    color: var(--button-blue-color);
}

.pagination-item:hover{
    background-color: var(--button-blue-color);
    color: #fff;
}

.selected-pagination{
    background-color: var(--button-blue-color);
    color: #fff;
}

