.section-content{
    display: flex;
    justify-content: center;
}

.form-block{
    border: 1px solid var(--border-color);
    border-radius: var(--radius-size);
    /* height: 38vh; */
    /* height: 40%; */
    width: 50%;
}

.form-container{
    width: 90%;
    margin: auto;
    margin-top: 17px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.btn-block{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 9px;
}

.enter-btn{
    background-color: var(--button-blue-color);
    color: #fff;
    text-align: center;
}

.reg-btn{
    background-color: var(--button-grey-color);
    color: #fff;
    text-align: center;
}