.form-block{
    border: 1px solid var(--border-color);
    border-radius: var(--radius-size);
    /* height: 38vh; */
    /* height: 40%; */
    width: 50%;
}


.btn-block{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 9px;
}

.enter-btn{
    background-color: var(--button-blue-color);
    color: #fff;
    text-align: center;
}

.reg-btn{
    background-color: var(--button-grey-color);
    color: #fff;
    text-align: center;
}

.error-message{
    display: none;
    color: red;
}