:root{
    --footer-header-elements-color: #efefef;
    --border-color: #e1e1e1;
    --button-blue-color: #387dd6;
    --button-red-color: #da3c3c;
    --button-grey-color: #6b6a6a;
    --black-color: #000;
    --dark-yellow-color: #e9bc03;
    --group-block-color: #e6e4e4;
    --gold-color: #ffd700;
    --silver-color: #C0C0C0;
    --bronze-color: #cd7f32;
}