:root{
    --footer-header-elements-color: #efefef;
    --border-color: #e1e1e1;
    --button-blue-color: #387dd6;
    --button-red-color: #da3c3c;
    --button-grey-color: #6b6a6a;
    --black-color: #000;
    --dark-yellow-color: #e9bc03
}