@import url(./colors.css);
@import url(./reset.css);
@import url(./header.css);
@import url(../scripts/components/authorize/authorize.css);
@import url(./sizes.css);
@import url(../scripts/components/listAccount/listAccount.css);
@import url(../scripts/components/registration/registration.css);
@import url(../scripts/components/profile/profile.css);
@import url(../scripts/components/filter/filter.css);
@import url(../scripts/components/mainPage/mainPage.css);
@import url(../scripts/components/post/post.css);

*{
  box-sizing: border-box;
  
}

/* Временно */
body{
  font-family: sans-serif;
}

.container {
  max-width: 1700px;
  width: 80%;
  margin: auto;
}

.href{
  text-decoration: none;
}

.section-content{
  display: flex;
  justify-content: center;

  /* нужно везед перепроврить */
  margin-bottom: 15px;
}

.form-block{
  border: 1px solid var(--border-color);
  border-radius: var(--radius-size);
  /* height: 38vh; */
  /* height: 40%; */
  width: 50%;
}

.form-container{
  width: 98%;
  margin: auto;
  margin-top: 17px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.block-title{
  font-size: 30px;
  font-weight: 550;
}

.input{
  border-radius: var(--radius-size);
  border: 1px solid var(--border-color);
  height: 35px;
  padding: 10px;
}

.input-block{
  display: flex;
  flex-direction: column;
}

.btn{
  /* padding: 13px, 20px, 20px, 13px; */
  padding-bottom: 13px;
  padding-top: 13px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: var(--radius-size);
  border: none;
  text-align: center;
}