@import url(./colors.css);
@import url(./reset.css);
@import url(./header.css);
@import url(../components/authorize/authorize.css);
@import url(./sizes.css);
@import url(../components/listAccount/listAccount.css);

*{
  box-sizing: border-box;
  
}

/* Временно */
body{
  font-family: sans-serif;
}

.container {
  max-width: 1700px;
  width: 80%;
  margin: auto;
}

.href{
  text-decoration: none;
}

.block-title{
  font-size: 30px;
  font-weight: 550;
}

.input{
  border-radius: var(--radius-size);
  border: 1px solid var(--border-color);
  height: 40px;
}

.input-block{
  display: flex;
  flex-direction: column;
}

.btn{
  /* padding: 13px, 20px, 20px, 13px; */
  padding-bottom: 13px;
  padding-top: 13px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: var(--radius-size);
  border: none;
}